global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:8080
    default_backend nodejs_backend

backend nodejs_backend
    balance roundrobin

    server app1 172.30.0.11:3000 check
    server app2 172.30.0.12:3000 check
